/public
/node_modules

# Composer
/vendor

# WordPress Core
/wp

# WordPress configuration
/wp-config.php

# Plugins
/content/plugins/*

# Thèmes
/content/themes/*
!/content/themes/astronomeet
/content/themes/astronomeet/app/assets/videos

# wp-content
/content/languages
/content/upgrade
/content/uploads

/content/debug.log